<div class="border rounded shadow-sm bg-white mb-5" *ngIf="user">
  <div class="flex py-3 px-5">
    <div>
      <div class="avatar bg-gray-200 rounded-full p-5 mr-5 flex justify-between items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
      </div>
    </div>
    <div class="details">
      <div class="text-gray-700">{{user.name}}</div>
      <div class="text-gray-600 text-sm">{{user.email}}</div>
      <div class="mb-5"></div>
      <div class="text-gray-600 text-sm">Total Blogs: {{ user.getTotalBlogs() }}</div>
    </div>
  </div>
</div>
<div class="blogs" *ngIf="user?.blogs">
  <div class="flex justify-between items-center pb-3">
    <div class="font-medium">Your Blogs</div>

    <button type="button" class="text-gray-700 border border-gray-200 bg-white hover:bg-gray-50/50 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-md text-sm px-2 py-1 text-center inline-flex items-center" [routerLink]="'/blogs/create'">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-5 mr-1 -ml-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>

      Write a new blog
    </button>
  </div>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                  Title
                </th>
                <th scope="col" class="px-6 py-3">
                  Created At
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                  Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b group" *ngFor="let blog of user?.blogs">
                <th scope="row" class="px-6 py-4 font-medium whitespace-wrap w-60">
                  <a [routerLink]="'/blogs/' + blog.getId()" class="group-hover:text-gray-600 group-hover:font-medium">
                    {{blog?.title}}
                  </a>
                </th>
                <td class="px-6 py-4">
                    {{blog.createdAt | date:'medium'}}
                </td>
                <td class="px-6 py-4 text-center">
                  <button class="hover:cursor" (click)="deleteBlog(blog.getId())">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-red-600 mx-auto hover:text-red-800">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<div *ngIf="(user?.blogs && !user?.blogs?.[0])" class="text-sm text-gray-500 my-2 text-center">No blogs yet</div>
